body{
    color: #e3f2fd;
    background-color: #0b1f3a;
}

img{
    background-color: #e3f2fd;
    padding: 3px;
}

#Contacts{
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#Contacts li{
    float:left;
    padding: 16px;
}
#main_panel{
    display: flex;
    align-items: center;
}

button{
    outline: none;
    border-style: none;
    background: none;
}

